body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	width: auto;
	height: auto;
	background-size: cover;
	background-image: url(../img/fondo.jpg);
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}

.grad {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: auto;
	height: auto;
	opacity: 0.7;
	background: -webkit-gradient(linear, left top, left bottom,
				 color-stop(0%,rgba(0,0,0,0)),
				 color-stop(100%,rgba(0,0,0,0.65)));
}

.logo {
	top:  1px; 
	left: 10px;
}

.header {
	position: absolute;
	top: calc(29% - 0px);
	left: calc(34% - 0px);
	position: fixed;
	float: center;
	z-index: 2;
}

.header div {
	float: left;
	color: #fff;
	font-family: sans-serif;
	font-size: 57px;
	font-weight: 200;
	opacity: 0.9;
}

.header div span {
	color: #007CBA !important;

}

.login {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type="password"], 
	input[type="email"] {
	width: 240px;
	height: 35px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type="submit"] {
	width: 240px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type="submit"]:hover {
	opacity: 0.8;
}

.login input[type="submit"]:active {
	opacity: 0.6;
}

.login input[type="text"]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type="email"]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type="password"]:focus {
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type="submit"]:focus {
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder {
   color: rgba(255,255,255,0.6);
}